@charset "utf-8";
/* for html5 */
header, footer, nav, section, article, figure, aside {
    display: block;
}

/* layout */
* {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
hr {
    border-top:dashed 1px #555555;
    height:1px;
    margin: 5px 0px;
}
ul, ol {
    padding-left: 40px;
}
li {
    padding:    2.5px;
}
code {
    display: block;
    width: 100%;
    padding: 2px;
    background-color: #000000;
    color: #ffffff;
    white-space: pre;
}
td {
    border: 1px solid #000000;
    padding: 2px;
}
iframe {
    vertical-align: bottom;
}

body {
    border: solid 1px;
    margin: 20px;
}
header {
    padding: 5px;
}
#container {
    float: right;
    width: 100%;
    margin-left: -170px;
}
section {
    margin-left: 170px;
    padding: 5px;
}
nav {
    float: left;
    width: 160px;
    padding: 5px;
}
footer {
    clear: both;
    padding: 5px;
}

/* color */
body {
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #cccccc;
}

footer {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #cccccc;
}

/* other */
* {
    font-style:normal;
}

nav ul {
    margin: 0px;
    padding: 0px;
}
nav li {
    list-style-type: none;
    padding:    2.5px;
}
nav li:hover {
    background-color: #cccccc;
}
nav a {
    display: block;
    width: 100%;
    color:#000000;
    text-decoration: none;
}

header {
    text-align: center;
    text-shadow: 2px 2px 1px #999999;
}
